ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}


ul:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

li {
  float: left;
  height: 15px;
  width: 15px;
  text-align: center;
  border: 1px solid black;
}

.snake {
  background: green;
}

.snake-head {
  background: blue;
}

.apple {
  background: red;
}

.game-board {
  float:left;
  background: black;
}

.score {
  color: white;
  text-align: center;
  font-size: 24px;
  background: purple;
}
