ul, li, header, html, body, figure, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  background: #FFDA91;
}


ul:after {
  content: "";
  clear: both;
  display: block;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
}

li {
  float: left;
  height: 15px;
  width: 15px;
  text-align: center;
  border: 1px solid black;
}

header {
  margin: auto;
  text-align: center;
  font-size: 36px;
}

.container {
  margin: auto;
  width: 340px;
}

.snake {
  background: green;
}

.snake-head {
  background: blue;
}

.apple {
  background: red;
}

.game-board {
  position: relative;
  float:left;
  background: black;
}

.retry {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: red;
  padding: 15px;
  font-size: 28px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.score {
  color: white;
  text-align: center;
  font-size: 24px;
  background: #BBBBBB;
}

.scores {
  text-align: center;
}
.score-list-item {
  float: none;
  height: auto;
  width: auto;
  text-align: center;
  border: none;
}
